@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-symbols";

:root {
  --background: #f5f5f5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  display: flex;
  flex-direction: column;
}

body,
html {
  height: 100%;
}
